<% include userheader %>


            <!-- About Start -->
            <div class="about wow fadeInUp" data-wow-delay="0.1s">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-12 col-md-12">
                            <div class="section-header text-left">

<h1>Raise funds here for charity.....</h1>
<h2>Make payment of &#8377; 100 for charity</h2>


<!-- PayPal payment form for displaying the buy button -->
<form action="<%= PAYPAL_URL %>" method="post">
    <!-- Identify your business so that you can collect the payments. -->
    <input type="hidden" name="business" value="<%= PAYPAL_ID %>">
    
    <!-- Specify a Buy Now button. -->
    <input type="hidden" name="cmd" value="_xclick">
    
    <!-- Specify details about the item that buyers will purchase. -->
    <input type="hidden" name="item_name" value="Service charge">
    <input type="hidden" name="item_number" value="">
    <input type="hidden" name="amount" value="100">
    <input type="hidden" name="currency_code" value="USD">
    
    <!-- Specify URLs -->
    <input type="hidden" name="return" value="http://localhost:3001/user/payment?uid=<%= sunm %>&amount=100">
    <input type="hidden" name="cancel_return" value="http://localhost:3001/user/cancel">
    
    <!-- Display the payment button. -->
    <input type="image" name="submit" border="0" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif">
</form>


                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            <!-- About End -->

<% include userfooter %>




