<% include header %>


            <!-- About Start -->
            <div class="about wow fadeInUp" data-wow-delay="0.1s">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-12 col-md-12">
                            <div class="section-header text-left">
                                <h1>Welcome to PMS , Service Page</h1>
                                <p>Online solution to handle projects</p>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            <!-- About End -->

<% include footer %>




